body {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  /* justify-content: center; */
  /* height: 100vh; */
  flex-direction: column;
  position: relative;
}

.inputBox {
  height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(86, 241, 86);
}
.inputBox input,
.inputBox textarea {
  width: 300px;
  font-size: 15px;
  margin: 5px;
  padding: 7px 6px;
  border: none;
  border-radius: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.inputBox button {
  border: none;
  width: 150px;
  height: 50px;
  background-color: #18f510;
  background-color: green;
  color: white;
  border-radius: 10px;
  font-size: 17px;
  margin-top: 10px;
}
button:hover {
  cursor: pointer;
  box-shadow: 2px 2px 15px rgba(10, 10, 10, 0.3);
}
.notelist {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.note {
  position: relative;
  width: 70%;
  height: 60px;
  background-color: #13a90b;
  color: white;
  font-family: "Courier New", Courier, monospace;
  margin-top: 10px;
  display: flex;
}
.note .notebox {
  margin: auto 25px;
}
.note h3 {
  padding-left: 5px;
}
.note .no {
  color: black;
  padding-left: 5px;
  margin-left: 8px;
}
.btns {
  position: absolute;
  right: 0;
  top: 0;
}
.btns button {
  height: 60px;
  width: 60px;
  border: 2px solid black;
  background-color: green;
  color: white;
}
.rm {
  border-right: none;
  margin-top: -9px;
}
.btns:first-child {
  margin-top: -9px;
}
